/* Стилизация аккордеона */

.accordion__item {
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 24px 32px;
    margin-bottom: 8px;
    position: relative;
}

.accordion__item:last-child {
    margin-bottom: 0;
}

.accordion__item .accordion-item__title::-webkit-details-marker {
    display: none
}

.accordion__item>.accordion-item__title {
    list-style: none;
}

.accordion-item__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
}

.accordion-item__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
    margin-top: 16px;
    margin-bottom: 0;
}

.accordion__item .accordion-item__title:before {
    content: '';
    position: absolute;
    top: 24px;
    right: 32px;
    display: block;
    width: 18px;
    height: 10px;
    background-image: url(./image/arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.accordion__item[open] .accordion-item__title:before {
    transform: rotate(-180deg);

}