.skeleton {
    width: 579px;
    height: 192px;
    background: var(--whtie);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 40px 32px 24px;
}

.skeleton__avatar {
    display: block;
    width: 64px;
    height: 64px;
    margin-right: 8px;
    border-radius: 32px;
    background-color: var(--grey-2);
}

.skeleton__title {
    width: 100%;
    height: 20px;
    margin: 8px;
    background: linear-gradient(92.51deg, var(--grey-2) 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, var(--grey-2) 102.52%)
}

.skeleton__title_line1 {
    width: 172px;
}

.skeleton__title_line2 {
    width: 257px;
}

.skeleton__top {
    display: flex;
    flex-direction: row;
}

.skeleton__bottom {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.skeleton__line {
    width: 515px;
    height: 20px;
    background: linear-gradient(92.51deg, var(--grey-2) 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, var(--grey-2) 102.52%);
}